.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  margin-top: 5PX;
  font-size: 12PX;
}

.image {
  width: 20PX;
  height: 23PX;
}

.badge {
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -18px;
  margin-top: -2px;
  width: 16PX;
  height: 16PX;
  border-radius: 8PX;
  background-color: #e31436;
  color: #fff;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}