.bar {
  height: 44px;
  background-color: #ff668e;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.div_score {
  margin-left: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 6px;
}

.img_score {
  height: 22px;
  width: 20px;
}

.span_score_text {
  position: absolute;
  color: #ff668e;
  background-color: yellow;
  border-radius: 4px;
  font-size: 6px;
  padding: 0 3px;
  top: -3px;
  left: -5px;
  width: 26px;
  height: 10px;
}

.div_search_bar {
  flex: 1;
  margin: 0 12px;
  background-color: white;
  height: 30px;
  border-radius: 15px;
}

.div_category {
  width: 46px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  color: white;
}

.img_category {
  margin-bottom: 1px;
  width: 18px;
  height: 18px;
}

.main {
  width: 100%;
}

.header {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 84px;
  width: 100%;
  max-width: 750px;
  background-color: cadetblue;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 15px;
  height: 40px;
  background-color: skyblue;
  overflow-x: auto;
  white-space: nowrap;
}

.menu::-webkit-scrollbar {
  display: none;
}

.normal {
  text-decoration: none;
  margin: 0px 12px;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid black;
  padding: 0px 0px 3px 0px;
  font-size: 20px;
  font-weight: bold;
}

.wraper {
  background-color: white;
}

.tab {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}

.tag::-webkit-scrollbar {
  display: none;
}

.page {
  width: 750px;
  max-width: 750px;
  height: 1300px;
}